::selection { background-color: #C8C8C8; color: #333539;}
::-moz-selection { background-color: #C8C8C8; color: #333539;}
p, span, h1, h2, h3, h4, h5, h6, li, nav {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}


/* general layout */
	html {
		width: 100%;
		background-color: #333539;
	}
	body {
		width: 600px; /* wp width */ 
		margin: 100px auto 100px auto;
		padding-top: 15px;
		-webkit-box-shadow: 0 0 50px 0 #000000;
		-moz-box-shadow: 0 0 50px 0 #000000;
		box-shadow: 0 0 50px 0 rgba(33, 35, 39, 1);
		color: #dadce2;
		font-family: "Gotham";
	}
	a {
		color: #C8C8C8;
	}
	/* naviagtion */
	nav	{
		display: block;
		text-align: center;
		margin-bottom: 12px;
		font-family: "Orator Std";
	}
	nav span, nav a {
		padding: 0 10px 0 10px;
		cursor: pointer;
		color: #C8C8C8;
	}
	nav a {
		text-decoration: none;
	}
	nav span:hover, nav a:hover {
		text-decoration: underline;
	}
/*//////////////*/


/* Page: front */

	/* buy section */
	.buyLink {
		text-align: center;
		font-family: "Gotham";
		padding: 30px 0 10px 0;
	}
	.buyLink a {
		display: inline-block;
		padding: 20px 10px 0 10px;
		font-family: "Orator Std";
		text-decoration: none;
		font-size: 1.2em;
	}
	.buyLink a:hover {
		text-decoration: underline;
		color: #E1E1E1;
	}

	/* song list */
	#coverStack {
		display: inline-block;
	}
	#songList {	
		width: 250px;
		margin-top: 30px; 
		float: right;
		line-height: 1.7em;
		font-size: 0.9em;
	}
	#contactInfo {
		text-align: center;
	}
/*//////////////*/


/* Page: Twitter */
	#twitterPage {
		padding-bottom:40px;
	}
	.twitter-timeline {
		display: block;
		margin: auto;
	}
/*//////////////*/


/* Page: SoundCloud */
	#soundcloudPage iframe {
		display: block;
		margin: auto;
		margin-bottom: 20px;
	}
	.cookiePolicy {
		display: none;
	}
/*//////////////*/


/* Page: About*/
	.aboutbox {
		width: 600px;
		height: 400px;
		display: block;
		background: no-repeat center; 
	}
	.aboutbox div {
		background-color: rgba(51,53,57,.7);
		width: 100%;
		height: 100%;
	}
	.aboutbox div p {
		display: block;
		width: 400px;
		margin: 0 auto 0 auto;
		padding-top: 200px;
	}
	#MBW {
		background-image: url('../img/por/MBW.png'); 
	}
	#JTR {
		background-image: url('../img/por/JTR.png'); 
	}
	#FL {
		background-image: url('../img/por/FL.png'); 
	}
/*//////////////*/


/* Fonts */
	@font-face {
		font-family: 'Orator Std';
		src: url('../fonts/dator-regular-webfont.eot');
		src: url('../fonts/dator-regular-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/dator-regular-webfont.woff') format('woff'),
			 url('../fonts/dator-regular-webfont.ttf') format('truetype'),
			 url('../fonts/dator-regular-webfont.svg#datorregular') format('svg');
		font-weight: normal;
		font-style: normal;

	}

	@font-face {
		font-family: 'Orator Std';
		src: url('../fonts/dator-italic-regular-webfont.eot');
		src: url('../fonts/dator-italic-regular-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/dator-italic-regular-webfont.woff') format('woff'),
			 url('../fonts/dator-italic-regular-webfont.ttf') format('truetype'),
			 url('../fonts/dator-italic-regular-webfont.svg#dator-italicregular') format('svg');
		font-weight: normal;
		font-style: italic;

	}

	@font-face {
		font-family: 'Gotham';
		src: url('../fonts/gotham-book-webfont.eot');
		src: url('../fonts/gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/gotham-book-webfont.woff') format('woff'),
			 url('../fonts/gotham-book-webfont.ttf') format('truetype'),
			 url('../fonts/gotham-book-webfont.svg#gotham_bookregular') format('svg');
		font-weight: normal;
		font-style: normal;

	}

	@font-face {
		font-family: 'Gotham';
		src: url('../fonts/gotham-italic-webfont.eot');
		src: url('../fonts/gotham-italic-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/gotham-italic-webfont.woff') format('woff'),
			 url('../fonts/gotham-italic-webfont.ttf') format('truetype'),
			 url('../fonts/gotham-italic-webfont.svg#gotham_bookmedium') format('svg');
		font-weight: normal;
		font-style: italic;

	}
/*//////////////*/

