p, span, h1, h2, h3, h4, h5, h6 {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizelegibility;
	font-family: "DIN";
}

::selection { background-color: rgb(142, 193, 204); color: white;}
::-moz-selection { background-color: rgb(142, 193, 204); color: white;}

body {
	margin: 0;
	padding: 0;
	width: 100%;
}

h1, h2 {
	text-transform: uppercase;
	font-weight: Bold;
	text-align: center;
}

h1 {
	color: rgb(150, 150, 150);
	font-size: 2.3em;
	letter-spacing: .3em;
}

h2 {
	color: rgb(142, 193, 204);
	font-size: 1.3em;
	letter-spacing: .1em;
}

a {
	color: inherit;
}

/* Header */
.textureImg {
	width: 100%;
	height: 240px;
	object-fit: cover;
	object-position: 500px 500px;
	object-position: inherit;
}

.textureImg2 {
	width: 100%;
	height: 240px;
	background-image: url("../img/texture.png");
}

.parallax-container {
	height: 500px;
}

img.seal {
	height: 300px;
	display: block;
	width: auto;
	margin: 100px auto 0 auto;
}

#titlecontainer {
	display: block;
	width: auto;
	margin: 180px auto 0 auto;
	text-align: center;
	pointer-events: none;
	padding: 0 30px 0 30px;
}

#titlecontainer h1 {
	color: white;
	border: solid 5px white;
	padding: 10px 10px 10px 20px;
	text-shadow: 0 0 20px rgba(43, 23, 41, .4);
	display: inline-block;
	margin: auto;
	text-align: center;
	line-height: 1.5em;
}

/* Main section */
#main {
	padding: 0 30px 0 30px;
}

#main h1 {
	margin-top: 140px;
}
#main h2 {
	margin-top: -26px;
}

#main p {
	display: block;
	max-width: 850px;
	margin: 70px auto 0 auto;
	font-family: "DIN";
	line-height: 1.5em;
	font-size: 1.1em;
}

/* Get album section */
section#get_album h2 {
	margin-top: 140px;
	padding: 0 30px 0 30px;
}

section#get_album div {
	text-align: center;
}

section#get_album div a:hover {
	opacity: .7;
}
section#get_album img {
	height: 35px;
	width: auto;
	margin: 0 30px 0 30px;
}

/* Album info section */
section#album_info {
	max-width: 850px;
	margin: 140px auto 140px auto;
}

section#album_info #info {
	max-width: 415px;
	float: left;
	margin-bottom: 140px;
}

section#album_info #info img#cover {
	width: 100%;
}

section#album_info #info img#bandcamp {
	opacity: .5;
	width: 100px;
	margin-top: 20px;
}

section#album_info #info h3 {
	text-transform: uppercase;
	font-weight: Bold;
	font-size: 1.3em;
	letter-spacing: .1em;
	margin: 0;
}

section#album_info #info h3 #kaizen {
	color: rgb(142, 193, 204);
}

section#album_info #songlist {
	display: inline-block;
	width: 415px;
	float: left;
	margin: 0 0 140px 20px;
}

.parallax-container#last {
	width: 100%;
}

#footer {
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 15px;
	color: white;
	text-shadow: 0 0 10px rgba(43, 23, 41, .9);
}

@media screen and (max-width: 850px) {
	#main h1 {
		margin-top: 70px;
	}
	#songlist {
		display: none !important;
	}
	#get_album h2 {
		margin-top: 70px;
	}
	section#album_info {
		margin: 70px 30px 70px 30px;
		text-align: center;
	}
	section#album_info #info {
		margin: 0 auto 70px auto;
		float: none;
	}
	section#get_album h2 {
		margin-top: 70px;
	}
	#last {
		display: none;
	}

	#sm-footer {
		display: block !important;
		text-align: center;
		margin-top: 70px;
		color: rgb(150, 150, 150);
	}
}

@media screen and (max-width: 602px) {
	#get_album div a {
		display: block;
		margin-bottom: 20px;
	}
}