p, span, h1, h2, h3, h4, h5, h6 {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizelegibility;
	font-family: "DIN";
	color: #ffffff;
}

::selection { background-color: rgb(142, 193, 204); color: white;}
::-moz-selection { background-color: rgb(142, 193, 204); color: white;}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	/* background-image: url('../img/web_aq_dupe_filter2.jpg'); */
	/* background-blend-mode: lighten; */
	background-size: 100% auto;
	background-repeat: repeat;
	max-width: 1920px;
	margin: auto;
	display: block;
	background-color: black;
}

h1, h2 {
	text-transform: uppercase;
	font-weight: Bold;
	text-align: center;
}

h1 {
	font-size: 2.5em;
	letter-spacing: .3em;
}

h1 span {
	background-color: black;
	padding: .25em;
}

@media screen and (max-width: 568px){
	h1 {
		font-size: 1.5em;
		letter-spacing: .3em;
	}
	footer {
		font-size: .7em;
	}
}

h2 {
	color: rgb(142, 193, 204);
	font-size: 1.3em;
	letter-spacing: .1em;
}

a {
	color: inherit;
	transition: all 0.25s ease-in-out;
	text-decoration: none;
}

h1 a:hover {
	font-size: 1.2em;
}

.canvas {
	background-image: 
		url('../img/web_aq_dupe_transparent.png'),
		url('../img/web_aq_dupe_filter2.jpg');
	/* background-blend-mode: lighten; */
	background-size: 100% auto;
	background-repeat: no-repeat, repeat;
	max-width: 1920px;
	margin: auto;
	display: block;
	z-index: -2;
}

.lettering {
	max-width: 600px;
	width: 50vw;
	margin: auto;
	display: block;
	padding-top: calc(50vh - 300px);
	/* padding-bottom: calc(50vh - 300px); */
}

.lettering img {
	transition: all .25s ease-in-out;
}

.lettering img:hover {
	transform: scale(1.05);
}

@media screen and (max-width: 900px){
	.lettering {
		padding-top: calc(50vh - .5*50vw);
	}
}

.page {
	margin-top: calc(50vh - 100px);
	margin-bottom: calc(50vh - 100px);
}

footer {
	margin: 300px 10% 0 10%;
	padding-bottom: 70px;
	text-align: center;
	line-height: .8em;
}
